Wayuu/Wayuu.AppConsole/bin/
Wayuu/Wayuu.BLL/bin/
Wayuu/Wayuu.DAL/bin/
Wayuu/Wayuu.Entities/bin/
Wayuu/Wayuu.Helpers/bin/
Wayuu/Wayuu.Services/bin/
Wayuu/Wayuu.WebApi/bin/
Wayuu/Wayuu.WebApp/bin/
Wayuu/Wayuu.AppConsole/obj/Debug/
Wayuu/Wayuu.BLL/obj/Debug/
Wayuu/Wayuu.DAL/obj/Debug/
Wayuu/Wayuu.Entities/obj/Debug/
Wayuu/Wayuu.Helpers/obj/Debug/
Wayuu/Wayuu.Services/obj/Debug/
Wayuu/Wayuu.WebApi/obj/Debug/
Wayuu/Wayuu.WebApp/obj/Debug/
Wayuu/Wayuu/.vs/
Wayuu/Wayuu/Wayuu.DAL/Migrations/