Wayuu.AppConsole/bin/*
Wayuu.BLL/bin/*
Wayuu.DAL/bin/
Wayuu.Entities/bin/*
Wayuu.Helpers/bin/*
Wayuu.Services/bin/*
Wayuu.WebApi/bin/*
Wayuu.WebApp/bin/*
Wayuu.AppConsole/obj/Debug/*
Wayuu.BLL/obj/Debug/*
Wayuu.DAL/obj/Debug/*
Wayuu.Entities/obj/Debug/*
Wayuu.Helpers/obj/Debug/*
Wayuu.Services/obj/Debug/*
Wayuu.WebApi/obj/Debug/*
Wayuu.WebApp/obj/Debug/*
Wayuu/.vs/*
Wayuu/Wayuu.DAL/Migrations/*
